@import "@styles/colors";
@import "@styles/vars";

.wrapper {
  position: absolute;
  top: $padding4;
  right: $padding4;
  width: 40px;
  height: 24px;
  cursor: pointer;
  user-select: none;
}

.input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $backgroundColor1;
  border-radius: 34px;
  transition: $transition2;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);

  &::before {
    content: '';
    position: absolute;
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: $whiteColor;
    border-radius: 50%;
    transition: $transition2;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
}

.input:checked + .slider {
  background-color: $primaryDark;
}

.input:checked + .slider::before {
  transform: translateX(16px);
}

.input:focus-visible + .slider {
  outline: 2px solid $primaryDark;
  outline-offset: 2px;
}
