@import '@styles/vars';
@import '@styles/colors';
@import '@styles/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
}

.checkBoxWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: $gap-8;
  cursor: pointer;
  margin: $padding-6 0;

  input[type="checkbox"] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: $gap-8;
  cursor: pointer;
  font-size: $font-size-body2;

  &:focus-within svg {
    @include focus-within-effect();
  }
}

.checkbox {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background: $backgroundColor1;
  border: 2px transparent solid;
  transition: $transition-0-3;
  padding: 3px;

  &:hover {
    border-color: $primaryMain;
  }

  &.active {
    border-color: $primaryMain;
    background: $primaryMain;
  }
}