@use '@/shared/ui/styles/scss/vars' as *;

.title {
  color: var(--text-color-primary);
  margin-bottom: $margin4;
}

.actions {
  margin-top: $margin4;
  display: flex;
  gap: $gap3;
  justify-content: flex-end;
}
