@import "@styles/media";

.wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: 100px auto;
  grid-template-columns: 1fr;
  height: 100%;

  @include xs {
    grid-template-areas:
    "header header"
    "main sidebar";
    grid-template-columns: 1fr auto;
  }
}
