@import "@styles/vars";

.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.title {
  color: var(--text-color-primary);
  margin-bottom: $margin4;
}

.successText {
  color: var(--text-color-secondary);
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: $margin3;
}

.navigation {
  margin-top: $margin4;
  display: flex;
  gap: $gap3;
  justify-content: flex-end;
}