@import "@styles/vars";

.title {
  color: var(--text-color-primary);
  margin-bottom: $margin-16;
}

.navigation {
  margin-top: $margin-16;
  display: flex;
  gap: $gap-16;
  justify-content: flex-end;
}