@import "@styles/media";
@import "@styles/vars";
@import "@styles/colors";
@import "@styles/mixins";

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: $gap3;
  max-width: 100%;
}

.formControl {
  display: flex;
  flex-direction: column;
}

.formBoxLabel {
  display: flex;
  justify-content: space-between;
  margin-bottom: $margin3;

  & label {
    color: var(--text-color-primary);
  }
}

.head {
  display: flex;
  justify-content: space-between;
  margin-bottom: $margin3;
}

.linkQuestion {
  display: flex;
  justify-content: center;
  gap: $gap1;
}

.link {
  color: var(--text-color-primary);
}

.question {
  display: flex;
  justify-content: center;
  gap: $gap1;
  font-size: $font-size-body2;

  span {
    font-weight: 600;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      height: 1px;
      background: var(--border-color);
      width: 0;
      bottom: -2px;
      left: 0;
      transition: $transition2;
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }
  }
}



//sweetalert
.myCustomModal {
  background: var(--background-color);
  border-radius: $borderRadius3;
}
