@mixin focus-within-effect(
  $border-color: var(--primary-color),
  $boxShadow: 0 0 4px 4px color-mix(in srgb, var(--primary-color) 20%, transparent)
) {
  border-color: $border-color;
  box-shadow: $boxShadow;
}