@use '@/shared/ui/styles/scss/vars' as *;

.title {
  margin: 0;
  font-weight: $font-weight-semibold;
  line-height: $line-height-tight;
  letter-spacing: $letter-spacing-snug;
}

.h1 {
  font-size: $font-size-title-1;
}

.h2 {
  font-size: $font-size-title-2;
}

.h3 {
  font-size: $font-size-title-3;
}

.h4 {
  font-size: $font-size-title-4;
}

.h5 {
  font-size: $font-size-title-5;
}

.h6 {
  font-size: $font-size-title-6;
}
