.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 20px 0;

  &::before, &::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: var(--border-color);
  }

  & span {
    display: inline-block;
    padding: 0 10px;
    z-index: 1;
  }
}
