.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button {
  font-size: 24px;
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}