//colors
$whiteColor: #fff;
$blackColor: #000;
$borderShadowColor: 0 2px 8px rgba(0, 0, 0, 0.1);

//background
$mainBgLightColor: radial-gradient(circle, rgba(204, 194, 186, 1) 0%, rgba(237, 238, 240, 1) 100%);
$mainBgDarkColor: radial-gradient(circle, rgba(120, 115, 145, 1) 0%, rgba(37, 38, 40, 1) 100%);
