@use '_colors' as *;

html[data-theme='light'] {
  --primary-color: #{$primaryMain};
  --background-color: #{$backgroundLight};
  --text-color-primary: #{$textPrimaryLight};
  --text-color-secondary: #{$textSecondaryLight};
  --border-shadow-color: #{$borderShadowColorLightTheme};
  --main-bg-color: #{$mainBgLightColor};
  --box-shadow: #{$boxShadow};
}

html[data-theme='dark'] {
  --primary-color: #{$primaryDark};
  --background-color: #{$backgroundDark};
  --text-color-primary: #{$textPrimaryDark};
  --text-color-secondary: #{$textSecondaryDark};
  --border-shadow-color: #{$borderShadowColorDarkTheme};
  --main-bg-color: #{$mainBgDarkColor};
  --box-shadow: #{$boxShadow};
}