// Font sizes
$font-size-title-1: clamp(2.5rem, 5vw, 3rem);
$font-size-title-2: clamp(2.25rem, 4vw, 2.5rem);
$font-size-title-3: clamp(2rem, 3.5vw, 2.25rem);
$font-size-title-4: clamp(1.75rem, 3vw, 2rem);
$font-size-title-5: clamp(1.5rem, 2.5vw, 1.75rem);
$font-size-title-6: clamp(1.25rem, 2vw, 1.5rem);

$font-size-subtitle1: clamp(1.25rem, 2vw, 1.5rem);
$font-size-subtitle2: clamp(1rem, 1.5vw, 1.25rem);
$font-size-body1: clamp(1rem, 1.5vw, 1.125rem);
$font-size-body2: clamp(0.875rem, 1.5vw, 1rem);
$font-size-caption: clamp(0.75rem, 1vw, 0.875rem);

$inputSize1: 1rem;

// Line-height options
$line-height-normal: normal;
$line-height1: 1;
$line-height2: 1.5;
$line-height3: 2;

// Letter spacing
$letter-spacing-h1: -0.5px;

// Padding sizes
$padding1: 4px;
$padding2: 6px;
$padding3: 8px;
$padding4: 16px;
$padding5: 24px;
$padding6: 32px;

// Margin sizes
$margin1: 4px;
$margin2: 6px;
$margin3: 8px;
$margin4: 16px;
$margin5: 24px;
$margin6: 32px;

// Gap sizes
$gap1: 4px;
$gap2: 8px;
$gap3: 16px;
$gap4: 24px;
$gap5: 32px;

// Transition
$transition1: .1s;
$transition2: .3s;
$transition3: .6s;

//Border radius
$borderRadius1: 4px;
$borderRadius2: 8px;
$borderRadius3: 12px;
$borderRadius4: 16px;